.contacts__wrap {
    background: url("assets/images/footer-img.png"), #000;
    background-size: cover;

    @media (max-width: $mobile) {
        background: $color2;
        position: relative;
    }
}

.contacts__title {
    color: $color1;
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;

    padding: 28rem 0 4rem;

    @media (max-width: $mobile) {
        padding: 24rem 0 4rem;
    }

}

.contacts__icons {
    display: flex;
    justify-content: center;
}

.contacts__icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 1rem;
    cursor: pointer;

    @media (max-width: $laptop) {
        margin: 0 1rem 4rem;
    }

    &_mail {
        background: url("assets/icons/mail.svg") no-repeat center, $color1;
    }

    &_inst {
        background: url("assets/icons/instagram.svg") no-repeat center, $color1;
    }
}

.contacts__map {

    padding: 5rem 0 7rem;
    text-align: center;

    @media (max-width: $mobile) {
        padding: 0;
    }

    & img {
        @media (max-width: $laptop) {
            width: 400px;
        }
        @media (max-width: $mobile) {
            width: 340px;
            height: 180px;

            position: absolute;
            top: 0;
            left: 10%;
        }
        @media (max-width: $mobileS) {
            max-width: 300px
        }
    }
}